table tr td{
    vert-align: middle;
}
td button{
    margin: 5px;
}

td button i{
    font-size: 20px;
}

.modal-heder{
    background: white;
    color: gold;
}

.modal-body form{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;

}

.modal-body form .imgholder{
    /*flex-basis: 32%;*/
    /*height: 100%;*/
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.imgholder .upload input{
    display: none;

}
.modal-body form .inputField{
    flex-basis: 68%;
    border-left: 5px groove darkcyan;
    padding-left: 20px;
}